.root {
  position: relative;
  display: flex;
}

.input {
  all: unset;
  background: var(--background-white);
  font-size: var(--text-base-font-size);
  line-height: var(--text-base-line-height);
  flex-grow: 1;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 12px;
  padding-right: 20px;
  padding-left: 50px;
  color: var(--text-emphasized);
}

.input::placeholder {
  color: var(--text-muted);
}

.locationIcon {
  position: absolute;
  left: 20px;
  top: 16px;
  color: var(--text-muted);
  pointer-events: none;
}
