.root {
  all: unset;
  padding-top: 8px;
  padding-right: 20px;
  padding-bottom: 8px;
  padding-left: 20px;
  border-radius: 12px;
  text-align: center;

  &:not(:disabled) {
    cursor: pointer;
  }

  &:focus-visible {
    outline-offset: 1px;
    outline: 2px solid var(--focus-ring);
  }
}

.primary {
  color: var(--text-emphasized-inverse);
  background-color: var(--background-black);

  &:disabled {
    opacity: 40%;
  }

  &:not(:disabled):hover {
    opacity: 85%;
  }
}

.secondary {
  color: var(--text-emphasized);

  &:disabled {
    opacity: 40%;
  }

  &:not(:disabled):hover {
    background-color: var(--background-accent-light);
  }
}
