.root {
}

.counterContainer {
  font-size: var(--text-small-font-size);
  line-height: var(--text-small-line-height);
  color: var(--text-muted);
}

.title {
  font-family: inherit;
  font-size: var(--text-large-font-size);
  line-height: var(--text-large-line-height);
  font-weight: 400;
  color: var(--text-emphasized);
}

.baseCardImage {
  aspect-ratio: 1;
}
