.root {
    padding-top: 70px;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    max-width: 1200px;
    padding-right: 32px;
    padding-left: 32px;
    padding-top: 24px;
    padding-bottom: 40px;
}

.baseCardTitle {
    font-size: var(--text-large-font-size);
    line-height: var(--text-large-line-height);
    color: var(--text-emphasized);
}

.baseCardImage {
    aspect-ratio: 1;
}

.teaserCardImage {
    aspect-ratio: 2/1;
}