// Text
@property --text-emphasized {
  syntax: '<color>';
  inherits: true;
  initial-value: #332824;
}
@property --text-default {
  syntax: '<color>';
  inherits: true;
  initial-value: rgba(51, 40, 36, 0.75);
}
@property --text-muted {
  syntax: '<color>';
  inherits: true;
  initial-value: rgba(51, 40, 36, 0.5);
}
@property --link {
  syntax: '<color>';
  inherits: true;
  initial-value: #0076E3;
}
@property --text-emphasized-inverse {
  syntax: '<color>';
  inherits: true;
  initial-value: #ffffff;
}
@property --text-default-inverse {
  syntax: '<color>';
  inherits: true;
  initial-value: rgba(255, 255, 255, 0.75);
}
@property --text-muted-inverse {
  syntax: '<color>';
  inherits: true;
  initial-value: rgba(255, 255, 255, 0.5);
}

// Border
@property --border-emphasized {
  syntax: '<color>';
  inherits: true;
  initial-value: rgba(51, 40, 36, 0.25);
}
@property --border-default {
  syntax: '<color>';
  inherits: true;
  initial-value: rgba(51, 40, 36, 0.12);
}
@property --border-muted {
  syntax: '<color>';
  inherits: true;
  initial-value: rgba(51, 40, 36, 0.05);
}

//Background
@property --background-white {
  syntax: '<color>';
  inherits: true;
  initial-value: #ffffff;
}
@property --background-light-grey {
  syntax: '<color>';
  inherits: true;
  initial-value: #f5f4f4;
}
@property --background-black {
  syntax: '<color>';
  inherits: true;
  initial-value: #332824;
}
@property --background-accent {
  syntax: '<color>';
  inherits: true;
  initial-value: #f0c35f;
}
@property --background-accent-light {
  syntax: '<color>';
  inherits: true;
  initial-value: #fcf2db;
}

//Functional
@property --focus-ring {
  syntax: '<color>';
  inherits: true;
  initial-value: #df9d1e;
}
