.root {
  display: grid;
  grid-template-areas: 'card';
}

.image {
  grid-area: card;
}

.content {
  grid-area: card;
  display: flex;
  flex-direction: column;
  justify-content: end;
  row-gap: 4px;
  background-color: transparent;
  padding-right: 20%;
  color: var(--text-emphasized-inverse);
  background-image: linear-gradient(to top, rgba(black, 0.35), transparent);
}

.title {
  display: inline-block;
  font-size: var(--heading-medium-font-size);
  line-height: var(--heading-medium-line-height);
}

.description {
  display: inline-block;
  font-size: var(--text-large-font-size);
  line-height: var(--text-large-line-height);
}
