.section {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 8px;
}

.root {
    padding: 40px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.sectionTitle {
    font-size: var(--heading-small-font-size);
    line-height: var(--heading-small-line-height);
}

.dialogTitle {
    font-size: var(--heading-medium-font-size);
    line-height: var(--heading-medium-line-height);
    color: var(--text-emphasized);
}

.header {
    border-bottom: 1px solid var(--text-muted);
    padding-bottom: 16px;
}