.root {
  color: currentColor;
  font-size: inherit;
  line-height: inherit;

  &[aria-disabled='true'] {
    opacity: 40%;
  }

  &:not([aria-disabled='true']):hover {
    text-decoration: underline;
  }
}
