@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@700&display=swap');

:root {
  font-family: 'Inter', system-ui, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body,
#root {
  margin: 0;
  min-height: 100%;
}

html {
  box-sizing: border-box;
  color: var(--text-default);
  font-size: var(--text-base-font-size);
  line-height: var(--text-base-line-height);
}

a {
  all: unset;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

p {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
